@import "../public/reset.css";
@import "shared.scss";

.app {
  .logo {
    animation: App-logo-spin infinite 20s linear;
    height: 35px;
    float: left;
    padding: .5em;
  }

  .header {
    text-align: center;
    background-color: #222;
    min-height: 100px;
    padding: 20px;
    color: white;
  }

  .show, .hide {
    float: right;
    color: #000;
    background-color: #FFF;
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
  }

  .show {
    border: 2px solid #333;
  }

  .intro {
    text-align: center;
    font-size: large;
  }

  .content {
    padding: 20px;
  }
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
}
